.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5%;
  max-height: 5%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-input {
  background-color: whitesmoke;
  min-height: 10%;
  max-height: 10%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  padding-top: 1%;
  padding-bottom: 1%;
}

input[type=text] {
  width: 90vw;
  padding: 5px 0px;
  margin-left: 1%;
  background-color: whitesmoke;
  border: none;
  font-size: 16px;
}

input:focus[type=text] {
  border: none;
  outline: none;
}

input[type=button] {
  background: darkslategrey;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
}

input[type=button]:hover {
  background: rgb(64, 90, 90);
  cursor: pointer;
}

input[type=button]:active {
  box-shadow: inset;
}

.input-inline {
  display: flex;
  flex-direction: row;
}

.App-water {
  background-color: white;
  display: flex;
  flex: 1 1 auto;
  overflow: auto;
  height: 90vh;
  align-items: last baseline;
  z-index: -1;
  align-self: flex-end;
  overflow: hidden;
}

span {
  display: block;
}

.water-wave {
  -webkit-transition: height 2s ease-in;  
  -moz-transition: height 2s ease-in;  
  -o-transition: height 2s ease-in;  
  transition: height 2s ease-in;
}

.water-wave.neutral{
  height: 60%;
  width: 100%;
  animation: water 4s infinite;
}

.water-wave.high { 
  height: 90%;
  width: 100%;
  animation: water 4s infinite;
}

.water-wave.low {
  height: 40%;
  vertical-align: bottom;
  width: 100%;
  animation: water 4s infinite;
}

.wave {
  background: url("wave-image.png");
  opacity: 80%;
  height: 20px;
  background-size: contain;
  background-color: white;
  animation: wave linear 10s infinite;
}

.deep-water {
  background: linear-gradient(180deg, #3286ff 0%, #134285 100%);
  height: 100%;
}

@keyframes wave {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1200px 0px;
  }
}

@keyframes water {
  0% {
    transform: translateY(2%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(2%);
  }
}

.fish {
  animation: MoveUpDown 3s ease-in-out infinite;
  opacity: 0.5;
  background-size: 50% 50%;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}